/* Imagen que aparece cuando se abre el sobre */
.imagen {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: 90%; /* Limita el ancho máximo al 90% del contenedor */
  max-height: 90%; /* Limita la altura máxima al 90% del contenedor */
}

.imagen img {
  width: 100%;
  height: auto;
  max-width: 100%;  /* Asegura que la imagen no se salga del contenedor */
  max-height: 100%; /* Asegura que la imagen no se salga del contenedor */
  object-fit: contain; /* Mantiene la imagen dentro de su contenedor sin deformarla */
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
